*{
    padding: 0;
    margin: 0;
}
main{
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    font-size: 18px;
}
.image{
    height: 100px;
    margin-top: 100px;
}
.titre{
    font-family: 'Bai Jamjuree', sans-serif;
    color:  hsl(210, 10%, 33%);
    font-size: 2rem;
    align-self: center;
    margin-top: 50px;
    text-align: center;
}
.phrase{
    font-family: 'Bai Jamjuree', sans-serif;
     color: hsl(201, 11%, 66%);
     font-size: 1rem;
     align-self: center;
     text-align: center;
     margin-top: 40px;
}
a{
    text-decoration: none;

}
.lien1{
    background-color:  hsl(171, 66%, 44%);
    height: 40px;
    border-radius: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    align-self: center;

}
.lien2{
    background-color:  hsl(233, 100%, 69%);
    height: 40px;
    border-radius: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 230px;
    align-self: center;
}
.lien{
    display: flex;
    height: 200px;
    flex-direction: column;
    margin-top: 40px;
    
}
.meme{
    display: flex;
   height: 500px;
    flex-direction: column;
    justify-content: center;

    
}
.logo{
    display: flex;
    justify-content: center;
}
.ecrit{
        display: flex;
        justify-content: center;
        flex-direction: column;
}
#partie2{
    margin-top: 100px;
}
.titre2{
    font-family: 'Bai Jamjuree', sans-serif;
    color:  hsl(210, 10%, 33%);
    font-size: 2rem;
    align-self: center;
    margin-top: 50px;
    text-align: center;
}
.phrase2{
    font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(201, 11%, 66%);
    font-size: 1rem;
    align-self: center;
    text-align: center;
    margin-top: 40px;
}
#partie2{
    display: flex;
    height: 300px;
     flex-direction: column;
     justify-content: center;

}
.laptop{
    height: 200px;
}
#partie3{
    margin-top: 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.ordinateur{
    align-self: center;
}
.details{
    align-self: center;
    text-align: center;
}
h3{
    font-family: 'Bai Jamjuree', sans-serif;
    color:  hsl(210, 10%, 33%);
    font-size: 1.5rem;
    align-self: center;
    margin-top: 50px;
    text-align: center;
} 
.para{
    font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(201, 11%, 66%);
    font-size: 1rem;
    align-self: center;
    text-align: center;
    margin-top: 20px;

}
#partie4{
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    height: 300px;
}
.device{
    height: 200px;
    margin-top: 50px;
}
.selection2{
    align-self: center;
}
.aligner{
    font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(201, 11%, 66%);
    font-size: 1rem;
    align-self: center;
    text-align: center;
    margin-top: 20px;

}
#partie5{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    height: 300px;
}
.flo{
    display: flex;
    flex-direction: column;
}
.svp{
    width: 40px;
    justify-content: center;
    margin-top: 30px;
}
.icon1{
    align-self: center;
}
.icon2{
    align-self: center;
}
.icon3{
    align-self: center;
}
.flo p{
    font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(201, 11%, 66%);
    font-size: 1rem;
    align-self: center;
    text-align: center;
    margin-top: 40px;

}
#partie6{
    margin-top: 430px;
    display: flex;
    flex-direction: column;
}
.partenaire{
    width: 100px;
    align-self: center;
    margin-top: 35px;
}
footer{
    display: flex;
    flex-direction: column;
    background-color:hsla(207, 18%, 88%, 0.915) ;
    height: 300px;
    padding-top: 50px;
}
.logo2{
    width: 50px;
    align-self: center;
}
.FAQ{
    font-family: 'Bai Jamjuree', sans-serif;
     color: rgba(0, 0, 0, 0.932);
     font-size: 1rem;
     align-self: center;
}
.dernier{
    text-align: center;
    margin-top: 20px;
}
.network{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-right: 20px;
    
}
.media{
    margin-left: 27px;
    margin-top: 10px;
}
/* media querie*/
@media (min-width : 1440px ){
 .image{
    height: 150px;
 }
 .titre{
    font-size: 2.5rem;
 }
 .phrase{
    font-size: 1.5rem;
 }
 .lien{
  
   display: flex;
   flex-direction: row;
   justify-content: center;
    

}
.lien2{
    margin-top: 0px;
    margin-left: 20px;
    height: 60px;
}
.lien1{
    height: 60px;


}
.titre2{
    font-size: 2.8rem;
}
.phrase2{
    font-size: 1.4rem;
}
#partie3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.laptop{
    height: 500px;
}
h3{
   font-size: 2.5rem;
}
.para{
    font-size: 1.5rem;

}
.aligner{
    font-size: 1.4rem; ;
}
.device{
    height: 400px;
}
#partie5{
    margin-top: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.long{
    font-size: 1.5rem;
}
#partie6{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;

}
.partenaire{
    width: 150px;
}
#partie7{
    margin-top: 500px;
}
.titre{
    font-size: 2.5rem;
}
footer{
    height: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo2{
    height: 90px;
    width: 90px;
}
.FAQ{
    width: 760px;
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
}
.network{
    margin-top: 80px;
}
/* coder par amady gueda abdji*/



















}